.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0.5rem;
}

.profile-image img {
  width: 10rem;
  height: 10rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

header {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}

.headliner h1 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: gray;
}

.headliner {
  background: white;
  border-radius: 1.5rem;
  height: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.intro {
  margin: 0;
}

/* ==========* SKills *=================== */

.proskills_container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  /* margin-top: 2rem; */
}

.proskills_items {
  background: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.skill {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
  margin-bottom: 1rem;
}

.skill-name {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #333;
  margin: 0;
  /* white-space: nowrap; */
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 0.5rem;
}

.skills_list span {
  background: #f0f0f0;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}
.description {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.skill-description {
  font-weight: 600;
  color: #333;
}

/* ==========* SKills bar *=================== */

.skill {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  gap: 1rem;
}

.skill-name {
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
  display: block;
}

.skill-bar {
  width: 75%;
  height: 10px;
  background: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  background: #4a8b70;
  border-radius: 10px;
}

.css {
  width: 80%;
}

.html {
  width: 80%;
}

.java {
  width: 90%;
}

.javascript {
  width: 75%;
}

.python {
  width: 75%;
}

/* ==========* Projects *=================== */

.Projects {
  margin-top: 0.5rem;
  padding: 2rem;
}

.Projects h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.projgrid_items {
  background: #e7f0ec;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 0.9rem;
}
.projects-grid article:first-of-type {
  background-color: #4a8b70;
  color: white;
}

section {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 2rem 0;
  box-sizing: border-box;
}

.projgrid_items .heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #ff5a5f;
}

/* ==========* Education *=================== */

.edutool_wrapper {
  display: flex;
  align-items: stretch;
  /* gap between toold and edu */
  gap: 1rem;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education article {
  display: flex;
  background: #e7f0ec;
  position: relative;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  flex: unset;
  height: auto;
  text-align: start;
}

.education article:first-of-type {
  background-color: #4a8b70;
  color: white;
}

.edutool_left p,
.edutool_left h3 {
  margin: 0;
  gap: 0rem;
  padding: 0;
}

.edutool_left {
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}

.edutool_right {
  flex: 3;
}

.edu_heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* ==========* Tools *=================== */

.tools {
  flex: 1;
}
.tools_heading {
  text-align: center;
}

.tool_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #e7f0ec;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  gap: 1rem;
}
.toolitem_header {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: x-small;
}

/* ==========* Experience *=================== */
.experience {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* margin: 2rem 0; */
  font-size: 0.9rem;
}

.experience_heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.experience article {
  display: flex;
  background: #e7f0ec;

  border-radius: 1rem;
  padding: 0.7rem 1rem;
  text-align: start;
}

.experience article:first-of-type {
  background-color: #4a8b70;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  gap: 1rem;
  position: relative;
}

.experience .edutool_left p,
.experience .edutool_left h3 {
  margin: 0;
}

.experience .edutool_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience .edutool_right {
  flex: 3;
}

.experience .edutool_right ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin: 0;
}

/* ==========* Footer *=================== */

footer {
  background: #d76239;
  border-radius: 1.5rem;
  padding: 1rem;
  color: white;
  font-size: 0.9rem;
}

/* h2 styling */
h2 .experience_heading .Projects h2 .Projects h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
}

/* ===================Mobile====================== */

@media (max-width: 600px) {
  header {
    grid-template-columns: 8rem 1fr;
    align-items: stretch;
  }
  .profile-image img {
    width: 100%;
    height: 100%;
  }

  .headliner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
    overflow: hidden;
  }
  /* ==============Proficiency & Skills============= */
  .proskills_container {
    grid-template-columns: 1fr;
  }

  .proskills_items:nth-child(1) {
    order: 1;
    margin-bottom: 0;
  }

  .proskills_items:nth-child(2) {
    order: 2;
    margin-top: 0;
  }

  /* ==============Projects============= */

  .projects {
    grid-column: 1fr;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* NAMING !!!!!! */
  .Projects h2 {
    text-align: left;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  /* ==============Tool============= */

  .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .tools_heading {
    grid-column: 1 / -1;
    text-align: center;
  }

  .tool_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
    align-items: center;
    justify-items: center;
  }

  .tool_item img {
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;
    display: flex;
  }
  .toolitem_header {
    grid-column: 1 / -1;
  }

  /* ==============Education============= */
  .edutool_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .edutool_left {
    grid-column: 1 / 2;
  }

  /* ========== Experience ========== */
  .experience article {
    flex-direction: column;
  }

  /* ========== Skill ========== */
  .skill {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    gap: 1rem;
  }

  .skill-bar {
    width: 100%;
  }
  .headliner,
  .proskills_items,
  .Projects,
  .tools,
  .education,
  .experience {
    padding: 1rem;
  }

  .description {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    width: 100%;
  }
  .skill-description {
    margin: 0;
  }
}
