.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-image img {
  width: 10rem;
  height: 10rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

header {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  align-items: center;
}

body {
  background-color: gray;
}

.headliner {
  background: white;
  border-radius: 1.5rem;
  height: 8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.intro {
  /* padding: 0.5rem 0; */
  margin: 0;
  /* text-align: center; */
}

.proskills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.proskills_items {
  background: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
