/* .container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-image img {
  width: 10rem;
  height: 10rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

header {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  align-items: center;
}

body {
  background-color: gray;
}

.headliner {
  background: white;
  border-radius: 1.5rem;
  height: 8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.intro {
  margin: 0;
}

/* ==========* SKills *=================== */

/* .proskills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.proskills_items {
  background: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
/* ==========* Projects *=================== */

/* .Projects {
  margin-top: 3rem;
  padding: 2rem;
}

.Projects h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.projgrid_items {
  background: rgb(65, 61, 61);
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

section {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 2rem 0;
  box-sizing: border-box;
} */

/* ==========* Education *=================== */

/* .edutool_wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin: 2rem 0;
}

.education {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education article {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 1.5rem;
}

.edutool_left p,
.edutool_left h3 {
  margin: 0.5rem 0;
} */

/* ==========* Tools *=================== */
/* .tools {
  flex: 1; /* narrower */
/* display: flex;
  flex-direction: column;
  gap: 1.5rem;
} */

/* .tools_heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tool_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.toolitem_header {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}   */
